@font-face {
  font-family: 'Impact';
  font-style: normal;
  text-stroke: 3px black;
  -webkit-text-stroke: 3px black;

  src:
    local('Impact'),
    url(./fonts/anton-regular-webfont.woff2) format('woff2'),
    url(./fonts/anton-regular-webfont.woff) format('woff');
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #252525;
  font-family: Helvetica Neue;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  font-family: inherit;
  letter-spacing: 1px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  min-height: 100vh;
}